.tile {
    justify-content: center;
    align-items: center;
    text-align: center;

    display: inline-block;
    width: 128px;
    height: 128px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    margin: 16px;
    background-color: blueviolet;
}

.tile.empty {
    background-color: white;
}

.tile > .content {
    position: relative;
    font-size: 64px;
    top: 15px;
    color: white;

}

.field {
    display: block;
    width: 640px;
    background-color: orange;
}